* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
  .game {
    margin-top: 50px;
    text-align: center;
  }
  .container {
    margin: 50px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(4, 85px);
    grid-gap: 20px;
    .red {
      background-color: red;
    }

    .blue {
      background-color: blue;
    }

    .yellow {
      background-color: yellow;
    }

    .green {
      background-color: green;
    }

    .brown {
      background-color: brown;
    }

    .gray {
      background-color: gray;
    }

    .lightgreen {
      background-color: lightgreen;
    }

    .cadetblue {
      background-color: cadetblue;
    }
    div {
      background-color: white;
      width: 85px;
      height: 85px;
      border: 1px solid black;
    }
    div.white {
      background-color: white;
    }
  }
}
