* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

body .container {
  margin-left: 30px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 85px);
  grid-template-rows: repeat(4, 85px);
  grid-gap: 20px;
}

body .container .red {
  background-color: red;
}

body .container .blue {
  background-color: blue;
}

body .container .yellow {
  background-color: yellow;
}

body .container .green {
  background-color: green;
}

body .container .brown {
  background-color: brown;
}

body .container .gray {
  background-color: gray;
}

body .container .lightgreen {
  background-color: lightgreen;
}

body .container .cadetblue {
  background-color: cadetblue;
}

body .container div {
  background-color: white;
  width: 85px;
  height: 85px;
  border: 1px solid black;
}
